.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
nav{
    background-color: #bcff0054;
}
main{
    height: 500px;
    width: 400px;
    margin: auto;
    position: relative;
    top: 65px;
}